# BELT-2 Project Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# BELT-2 Dependencies
node_modules
dist
dist-ssr
*.local

# BELT-2 Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# BELT-2 Contract build artifacts
target/
*.wasm
